<footer>
    <div>
        <a class="afooter" href=""><i class="fas fa-question-circle"></i> Preguntas frecuentes</a>
        <a class="afooter" href=""><i class="fas fa-address-card"></i> Nosotros</a>
        <a class="afooter" href=""><i class="fas fa-comments"></i> Comentarios</a>
        <a class="afooter" href=""><i class="fas fa-language"></i> Idiomas</a>
        <p class="phone" class="phone"><i class="fab fa-whatsapp"></i> Whatsapp 1167545374</p>
        <p class="phone" class="phone"><i class="fas fa-phone"></i> Central: 0800-000-000</p>
    </div>
</footer>
<script src="/js front/header.js"></script>
</body>
</html>