    <script src="../js front/header.js"></script>
    <header>
        <ul class="ul11111">
            <li class="logo"> <a id="backend" href="/">Backend</a></li>
            <div>
            <% if(!locals.logeado) {%> 
            <li class="tigre"><a href="/login">Log in</a></li>
            <li class="tigre" id="conborde"><a href="/register">Sign up</a></li>
            <% } else { %>
                <li class="tigre2"><a href="/profile">Hola <%= locals.logeado.name %>!</a></li>
                <% } %> 
            </div>
        </ul>

        <div class="leon">
            <form action="/" method="POST">
                <input class="buscador" type="search" id="buscador" name="buscador" placeholder="Buscar">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        
        <div class="hidden"><i class="fas fa-bars"></i></div>

        <ul class="ul2">
            <li><a class="underline" href="/">Home</a></li>
            <li><a class="underline" href="/products">Cursos</a></li>
            <li><a class="underline" href="/products/cart">Carrito</a></li>
            <li><a class="underline" href="">Sedes</a></li>
            <li><a class="underline" href="">Contacto</a></li>
        </ul>
    </header>