<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Trocchi&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Login</title>
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="/img/Copia de Absolute Fashion.png" alt="logo"> </a>

    </header>
    <section class="seccion">
        <div class="div1">
            <form action="/login" method="POST">
            <p class="campos">Ingresar</p>
            <div class="errors1">
                <% if (errors.email) { %>
                    <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.email.msg %> </div>
                <% } else { 
                    ''
                }%>
            </div>
            <div class="mail">
                <input class="inputmail" type="email" name="email" placeholder="Mail">
            </div>
            <div class="errors1">
                <% if (errors.contraseña) { %>
                    <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.contraseña.msg %> </div>
                <% } else {
                    ''
                }%>
            </div>
            <div class="contras">
                <input type="password" name="contraseña"  placeholder="Contraseña">
            </div>
            <div class="recordamediv">
                <input class="recordame" type="checkbox" name="recordame">
                <label for="">Recordame</label>
            </div>
                <input class="crearcuenta" type="submit"value="Enviar">
        </div>
    </form>
    <div class="centrar">
    <a class="iniciala" href="">Olvidaste tu contraseña <i class="fas fa-sign-in-alt"></i></a>
    </div>
    </section>

    
    <%- include('partials/footer'); %>