<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />

    <title>Login</title>
</head>
<body>
    <script src="/js front/login.js"></script>
        <%- include('partials/header'); %>

    <section class="seccion">
        <div class="div1">
            <form id="elformulario" action="/login" method="POST">
            <div class="mail">
                <label for="">Email</label>
                <div class="errors1">
                    <% if (errors.email) { %>
                        <div class="invalid"><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.email.msg %> </div>
                    <% } else { 
                        ''
                    }%>
                </div>
                <input class="inputmail" type="text" name="email">
            </div>

            <div class="mail">
                <label for="">Contraseña</label>
                <div id="errorscontra" class="errors1">
                    <% if (errors.contraseña) { %>
                        <div><i style="color: red;" class="fas fa-exclamation"></i> <%= errors.contraseña.msg %> </div>
                    <% } else {
                        ''
                    }%>
                </div>
                <input id="inputcontra" class="inputmail" type="password" name="contraseña">
            </div>
            <div class="recordamediv">
                <input class="recordame" type="checkbox" name="recordame">
                <label id="recordame" for="">Recordame</label>
            </div>
            <div class="divdeboton">
                <input class="crearcuenta" type="submit"value="Ingresar">
            </div>
            <div class="divdelaolvide">
                <a class="laolvide" href="">Olvidé mi contraseña</a>
            </div>
        </div>
    </form>
    <div class="centrar">
    <a class="iniciala" href="">Olvidaste tu contraseña <i class="fas fa-sign-in-alt"></i></a>
    </div>
    </section>

    
    <%- include('partials/footer'); %>