<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/productCart.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Trocchi&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Carrito</title>
</head>
<body>

    <%- include('partials/header'); %>

        <section class="todocarro">
            <div>
                <p class="carrito">Carrito</p>
            </div>
            <div class="grid">
                <a class="vercursos" href="/products"><i class="fas fa-chevron-right"></i> Seguir viendo cursos</a>
                <a class="verpromos" href="">Ver promociones</a>
            </div>
        </section>

        <section class="cajas">
            <div class="probar">
                <article class="articulo">
                    <div class="curso">
                        <div class="nameyplata">
                            <p class="name"><i class="fas fa-check"></i> Nombre del curso </p>
                            <p class="moni"> $$$$$$$ </p>
                        </div>
                        <ul class="pollo">
                            <li class="enlinea">- Lenguaje </li>
                            <li class="enlinea">- Modalidad </li>
                            <li class="enlinea">- Fecha de inicio </li>
                        </ul>
                        <a class="eliminar" href="">Eliminar</a>
                    </div>
                </article>
                <article class="articulo">
                    <div class="curso">
                        <div class="nameyplata">
                            <p class="name"><i class="fas fa-check"></i> Nombre del curso </p>
                            <p class="moni"> $$$$$$$ </p>
                        </div>
                        <ul class="pollo">
                            <li class="enlinea">- Lenguaje </li>
                            <li class="enlinea">- Modalidad </li>
                            <li class="enlinea">- Fecha de inicio </li>
                        </ul>
                        <a class="eliminar" href="">Eliminar</a>
                    </div>
                </article>
                <article class="articulo">
                    <div class="curso">
                        <div class="nameyplata">
                            <p class="name"><i class="fas fa-check"></i> Nombre del curso </p>
                            <p class="moni"> $$$$$$$ </p>
                        </div>
                        <ul class="pollo">
                            <li class="enlinea">- Lenguaje </li>
                            <li class="enlinea">- Modalidad </li>
                            <li class="enlinea">- Fecha de inicio </li>
                        </ul>
                        <a class="eliminar" href="">Eliminar</a>
                    </div>
                </article>
            </div>
            <div class="probar2">
                <article class="articulo2">
                    <div class="interno">
                        <p class="resumen">Resumen de compra</p>
                        <ul>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde">Nombre del curso</p>
                                    <p class="solomargin">$$$$$$$</p>
                                </div>
                            </li>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde">Nombre del curso</p>
                                    <p class="solomargin">$$$$$$$</p>
                                </div>
                            </li>
                            <li class="cursocarrito">
                                <div class="flex">
                                    <p class="soloborde">Nombre del curso</p>
                                    <p class="solomargin">$$$$$$$</p>
                                </div>
                            </li>
                        </ul>
                        <form action="">
                    <input class="descuento" type="text" placeholder="coloca aqui tu cupon de descuento">
                </form>
                    <div class="flex2">
                        <div class="total">Total</div>
                        <div class="ultimo">$$$$$$$</div>
                    </div>
                    <div class="ultimo2">
                        <a class="comprar" href="">Comprar</a>
                    </div>
                    </div>
                </article>
            </div>
        </section>
        <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>

        <%- include('partials/footer'); %>