<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profilePassword.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Fira+Sans&family=Inter&family=Source+Sans+Pro&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link style="background-color: transparent;" rel="icon" href="img/apple-icon-180x180.png" type="image/png" />
    <title>Edit password</title>
</head>
<body>
    <script src="/js front/profilePassword.js"></script>
    <%- include('partials/header'); %>

<div class="div">

    <form class="form" action="/profile/password" method="POST">
        <div class="modificar">
            <div class="errores" id="modificarjs2">
                <% if (errores.contraseña) {%>
                    <p><%= errores.contraseña.msg %></p>
                <% } else {
                    ''
                } %>
            </div>
            <label for="">Nueva contraseña </label>
            <input class="contrainput" type="password" name="contraseña">
        </div>
        <div class="modificar">
            <div class="errores" id="modificarjs">
                <% if (errores.contraseña) {%>
                    <p><%= errores.contraseña.msg %> </p>
                <% } else {
                    ''
                } %>
            </div>
            <label for="">Confirmar contraseña </label>
            <input class="ccontrainput" type="password" name="confirmarla">
        </div>
        <input class="botondeguardar" type="submit" value="Guardar">
    </form>
</div>


    <a class="fixed" href="mailto:user@server.com"><i class="far fa-envelope"></i></a>
    <%- include('partials/footer'); %>