* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: auto;
}
.contenido {
    margin: 0 70px;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    font-family: 'Inter';
}
#conborde {
    border: #4e7ad9 solid 2px;
    padding: 5px 5px;
    border-radius: 10px;
}
.hidden {
    margin: 0 0 15px 0;
    display: none;
    visibility: visible;
}
.hidden i{
    font-size: 100px;
    color: white;
}
.tigre {
    margin-right: 20px;
}
.tigre2 {
    margin-left: 40px;
}
.logo {
    margin: 0 40px 0px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Varela round';
}
.ul11111 {
    display: flex;
    align-items: center;
}
input {
    width: 400px;
    height: 30px;
}
.tigre {
    display: inline;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
.ul2 {
    margin-right: 30px;
}
.underline {
    margin: 0 10px
}
.underline:hover {
    border-bottom: solid #4e7ad9 2px;
    transform: scale(1.2,1.2);
}
.tigre:hover {
    border-bottom: solid #4e7ad9 2px;
}
.buscador {
    border: 1px solid #d9dfe6;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
}
button {
    position: relative;
    right: 35px;
    border: none;
    border-left: 1px solid gray;
    padding-left: 5px;
    background-color: white;
}
.fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 10px;
    height: 60px;
    width: 60px;
    background-color: #4e7ad9;
    border-radius: 30px;
    font-size: 30px;
    color: white;
    z-index: 10;
}
.fixed:hover {
    background-color: black;
    transform: scale(1.15,1.15);
}
footer {
    background-color: #d9dfe6;
    height: 120px;
    padding-bottom: 50px;
}
footer div {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.div {
    text-align: center;
    margin: 200px 0;
}
.errores {
    margin-bottom: 10px;
    font-family: 'Cabin';
    font-size: 15px;
}
.modificar {
    display: grid;
    margin-top: 15px;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}
.form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}
.form input {
    text-align: center;
}
label {
    font-family: 'cabin';
    font-size: 20px;
    margin-bottom: 10px;
}
p i {
    color: red;
}
.botondeguardar {
    margin-top: 20px;
    height: auto;
    width: 100px;
    justify-self: center;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-family: 'Cabin';
    border: none;
    font-size: 15px;
}
.botondeguardar:hover {
    transform: scale(1.1,1.1);
    background-color: black;
}