* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
.contenido {
    margin: 0 70px;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    font-family: 'Inter';
}
.hidden {
    margin: 0 0 15px 0;
    display: none;
    visibility: visible;
}
.hidden i{
    font-size: 100px;
    color: white;
}
.ul11111 {
    display: flex;
    align-items: center;
}
.tigre {
    margin-right: 20px;
}
.tigre2 {
    margin-left: 40px;
}
.logo {
    margin: 0 40px 0px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Varela round';
}
input {
    width: 400px;
    height: 30px;
}
.tigre {
    display: inline;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
.ul2 {
    margin-right: 30px;
}
.underline {
    margin: 0 10px
}
.underline:hover {
    border-bottom: solid #4e7ad9 2px;
    transform: scale(1.2,1.2);
}
.tigre:hover {
    border-bottom: solid #4e7ad9 2px;
}
.buscador {
    border: 1px solid #d9dfe6;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
}
button {
    position: relative;
    right: 35px;
    border: none;
    border-left: 1px solid gray;
    padding-left: 5px;
    background-color: white;
}
.fixed {
    display: flex;
    justify-content: center;
    z-index: 10;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 10px;
    height: 60px;
    width: 60px;
    background-color: #4e7ad9;
    border-radius: 30px;
    font-size: 30px;
    color: white;
}
.fixed:hover {
    background-color: black;
    transform: scale(1.15,1.15);
}
footer {
    background-color: #d9dfe6;
    height: 120px;
    padding-bottom: 50px;
}
footer div {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 30px 0;
}
.todocarro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.carrito {
    font-size: 40px;
    font-family: 'Cabin';
    text-align: center;
    margin-top: 20px;
}
.carrito2 {
    font-family: 'Source Sans Pro';
    text-align: center;
    margin: 10px 0;
}
form {
    text-align: center;
}
.sesion {
    color: white;
    font-family: 'Inter';
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    background-color: black;
}
.cuadro {
    border: 1px solid black;
    margin-bottom: 10px;
}
.sesion:hover {
    transform: scale(1.1,1.1);
    background-color: black;
}
.ver {
    color: black;
    text-transform: none;
    font-size: 25px;
    font-family: 'Source Sans Pro';
}
.ver:hover {
    border-bottom: 2px solid #4e7ad9;
}
.margen {
    margin: 15px 0;
}