* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: auto;
}
.contenido {
    margin: 0 70px;
}
.buscador:focus {
    outline: none;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    font-family: 'Inter';
}
#conborde {
    border: #4e7ad9 solid 2px;
    padding: 5px 5px;
    border-radius: 10px;
}
.hidden {
    margin: 0 0 15px 0;
    display: none;
    visibility: visible;
}
.hidden i{
    font-size: 100px;
    color: white;
}
.tigre {
    margin-right: 20px;
}
.tigre2 {
    margin-left: 40px;
}
.logo {
    margin: 0 40px 0px 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Varela round';
}
.ul11111 {
    display: flex;
    align-items: center;
}
input {
    width: 400px;
    height: 30px;
}
.tigre {
    display: inline;
}
li {
    display: inline;
}
a {
    text-decoration: none;
    color: black;
}
.ul2 {
    margin-right: 30px;
}
.underline {
    margin: 0 10px
}
.underline:hover {
    border-bottom: solid #4e7ad9 2px;
    transform: scale(1.2,1.2);
}
.tigre:hover {
    border-bottom: solid #4e7ad9 2px;
}
.buscador {
    border: 1px solid #d9dfe6;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
}
.todavia {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.iracursos {
    text-align: center;
    margin: 15px 0;
}
.iracursos a {
    font-size: 15px;
}
.iracursos a:hover {
    border-bottom: 2px solid #4e7ad9;
}
.buscador:focus {
    border-color: #898d94e8;
}

.favoritos {
    display: none;
}
.afavoritos {
    margin-left: 7px;
    font-size: 14px;
}
.nose:hover {
    transform: scale(1.1,1.1);
}
.botonfavoritos {
    margin-left: 15px;
}
.pdefavs {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    font-size: 16px;
}
.lidefav {
    margin-bottom: 10px;
}
.nose2 {
    color: red;
}
.ede {
    display: flex;
    justify-content: space-between;
}
.favoritosonclick {
    display: block;
    position: absolute;
    width: 350px;
    top: 75px;
    left: 185px;
    border: 1px solid gray;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgb(221, 218, 218) 0 0 10px 1px;
}
.favoritosonclick li {
    display: block;
}
.cuantos {
    position: absolute;
    top: 8px;
    right: 193px;
    border: solid 2px #4e7ad9;
    font-family: 'Inter';
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
button {
    position: relative;
    right: 35px;
    border: none;
    padding-left: 5px;
    background-color: transparent;
}
.favoritos {
    display: none;
}
.botonfavoritos {
    margin-left: 15px;
}
.favoritosonclick {
    display: block;
    position: absolute;
    top: 80px;
    left: 240px;
    border: 2px solid black;
    background-color: white;
}
.favoritosonclick li {
    display: block;
}
.fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 10px;
    height: 60px;
    width: 60px;
    background-color: #4e7ad9;
    border-radius: 30px;
    font-size: 30px;
    color: white;
    z-index: 10;
}
.fixed:hover {
    background-color: black;
    transform: scale(1.15,1.15);
}
footer {
    background-color: #d9dfe6;
    height: 120px;
    padding-bottom: 50px;
}
footer div {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.div {
    text-align: center;
    margin: 200px 0;
}
.errores {
    margin-bottom: 10px;
    font-family: 'Cabin';
    font-size: 15px;
}
.modificar {
    display: grid;
    margin-top: 15px;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}
.form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
}
.form input {
    text-align: center;
}
label {
    font-family: 'cabin';
    font-size: 20px;
    margin-bottom: 10px;
}
p i {
    color: red;
}
.botondeguardar {
    margin-top: 20px;
    height: auto;
    width: 100px;
    justify-self: center;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-family: 'Cabin';
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.botondeguardar:hover {
    transform: scale(1.1,1.1);
    background-color: black;
}